<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foresee.mbg.mapper.TFruitMapper">
  <resultMap id="BaseResultMap" type="com.foresee.mbg.model.TFruit">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="price" jdbcType="INTEGER" property="price" />
    <result column="fcount" jdbcType="INTEGER" property="fcount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, fname, price, fcount, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fruit
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_fruit
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.foresee.mbg.model.TFruit">
    insert into t_fruit (fid, fname, price, 
      fcount, remark)
    values (#{fid,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{fcount,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.foresee.mbg.model.TFruit">
    insert into t_fruit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="fname != null">
        fname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="fcount != null">
        fcount,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=INTEGER},
      </if>
      <if test="fcount != null">
        #{fcount,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.foresee.mbg.model.TFruit">
    update t_fruit
    <set>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="fcount != null">
        fcount = #{fcount,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foresee.mbg.model.TFruit">
    update t_fruit
    set fname = #{fname,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      fcount = #{fcount,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>